.footer{
    background-color: var(--color-font);
}
.footer-logo{
    color: #F4F4FD;
    font-size: var(--size-font);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-raleway);
}
.footer-logo-web{
    color: var(--color-font-logo);
    font-size: var(--size-font);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-raleway);
}
.footer-text{
    color: #F4F4FD;
    line-height: var(--line-height-text);
}