.hero{
    background: var(--color-font);
}
.hero-title{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}
.btn-order{
    background: #4D5AE5;
    color: #FFFFFF;
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}