.team{
    background-color: #F4F4FD;
}
.team-title{
    font-weight: var(--font-weight-bold);
    font-size: var(--size-font-title2);
    line-height: var(--line-height-title2);
    letter-spacing: var(--letter-spacing-title2);
}
.team-name{
    font-weight: var(--font-weight-medium);
    font-size: var(--size-font-title3);
    line-height: var(--line-height-title3);
    letter-spacing: var(--letter-spacing-title3);
}
.team-text{
    color: #434455;
    line-height: var(--line-height-text);
}